
.checkcard-div {
    width: 144px;
    height: 158px;
    border: solid 1.5px gray;
    margin: 20px auto;
    border-radius: 5px;    
    display: flex;
    flex-direction: column;
}


.outer-alcohol-list-div {
    padding: 0px 300px;
    margin-top: 15px !important;
    overflow-y: scroll;
    position: absolute;
    /* padding: 0px 100px; */
    top: 80px;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-overflow-scrolling: touch;
    /* height: 700px; */
    /* display: flex;
    justify-content: center;
    border: 3px solid orange;
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 300px;
    padding-right: 300px;
    overflow-y: scroll;
    overflow-x: scroll; */
    

}
/* 
.inner-alcohol-list-div {
    overflow-y: scroll; */
    /* height: 700px; */
    /* position: absolute;
    padding: 0px 100px;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-overflow-scrolling: touch;
} */

.tagBox {
    border-radius: 7px;
    /* width: 75px; */
    min-width: 50px;
    height: 34px; 
    background: white;
    border: 2px solid #3F51B2;

}

.themes-div {
    display: flex;
    width: 300px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
    /* background: blue; */
    /* border: solid 3px black; */
    /* margin-left: 450px;
    margin-right: 450px; */
}

.chipBox {
    border-radius: 7px;
    border: 2px solid #3F51B2;
    padding: 5px 10px;
    /* margin: 0 auto; */
    font-family: 'Roboto'
    
}

.chipBox-active {
    color: white;
    background: #3F51B2;
    border: #3F51B2 2px solid;

}

.tagBox-active {
    background-color: #3F51B2;
    color: white;
    /* display: inline !important */
}

.tagBox-active p {
    display: block !important;
    color: white !important;
}

.tagBox p {
    position: relative;
    top: -10px;
    font-family: "Roboto";
    font-weight: 500;
    color: #50575F;
    
}


.checkcard-div p{
    /* border: 3px solid blue; */
    display: inline;
    margin-top: 0px;
    margin-bottom: 0px;
}

.active-checkcard-div p {
    display: inline;
    /* border: 3px solid black; */
    font-family: 'Roboto', sans-serif;
    

    /* margin-top: 0px;
    margin-bottom: 0px; */
}

/* .active-checkcard-div, .inner-checkcard-text p:nth-child(2) {
    font-size: 10px;
} */
.inner-checkcard {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.inner-checkcard-text {
    /* display: inline-flex; */
    margin-top: 10px;
    /* flex-direction: column; */
}


.active-checkcard-div {
    border:  #3F51B2 solid 3px;
    position: relative;
}

br {
    /* margin-top: 0px; */
    /* border: black 1px solid; */
}
.fonts-2 {
    color: #50575F;
    position: relative;
    font-size: 13px;
    font-weight: 500;
    top: -6px;
}

.fonts-1 {
    color: #50575F;
    font-weight: 500;
}

.check-placement {
    background: white;
    border-radius: 100px;
    border-right: none;
    border-left-color: transparent;
    color: #3F51B2;
    fill: white;
    /* align-self: flex-end; */
    position: absolute;   
    top: 5px; 
    right: 5px;
    /* left: 42px;
    top: 8px; */
    /* top: -50px; */
    z-index: 99;
}

.img-size {
    margin-top: 15px;
    width: 80px;
    height: 80px;
    /* border: 3px solid black; */
    
    position: relative;
    /* left: 16px; */
    /* top: 20px; */
    
}

.searchbox-wrapper {
    margin-top: 1px !important;
    width: 55%;
    border: 3px solid #3F51B2;
    border-radius: 5px;
    margin: 10px auto;
    display: flex;
}


.button-arrows {
    color: #50575F !important;
    opacity: .5;
}

.liner {
    display: inline-block;
    position: relative;
    top: -4px;
    /* top: -4px; */
    background-color: #50575F;
    width: 25px !important;
    height: 3px !important;
    opacity: .5;
    margin-left: 3px;
    margin-right: 3px;
    
}


.searchbox-alcohol {
    margin-top: 10px !important;
    /* border: 3px solid #3F51B2 !important; */
    width: 90% !important;
    border-radius: 3px !important;
    border-bottom: none !important;
    position: relative;
    left: 10px;
    font-size: 22px !important;

}


.inputBox {
    margin-top: 10px !important;
    /* border: 3px solid #3F51B2 !important; */
    width: 90% !important;
    border-radius: 3px !important;
    border-bottom: none !important;
    position: relative;
    left: 10px;
    font-size: 22px !important;

}

.inputBox-Wrapper {
    margin-top: 1px !important;
    width: 55%;
    border: 3px solid #3F51B2;
    border-radius: 5px;
    margin: 80px auto !important;
    display: flex;
    
}


.button-directional {
    background: none;
    border: none;
    font-family: 'Roboto';
    font-size: 22px;
    font-weight: 500;
    /* background: blue; */
    color: #3F51B2 !important;
    /* margin-top: 0px; */
}

.button-directional p {
    display: inline;
    color: #3F51B2;
}

.searchbox-alcohol::placeholder {
    font-size: 20px;
    position: relative;
    /* left: 20px; */
    color: #50575F;
    font-weight: 500;
    opacity: 0.6;
    font-family: 'Roboto'
}

.inputBox::placeholder {
    font-size: 20px;
    position: relative;
    /* left: 50px; */
    color: #50575F;
    font-weight: 500;
    opacity: 0.6;
    font-family: 'Roboto'
}



input:focus {
    border-bottom: none !important;
    box-shadow: none !important;
    /* font-size: 35px !important; */
}

/* input[type='text']:focus,
input[type='number']:focus,
textarea:focus {
    font-size: 16px !important;
    border-bottom: none !important;
    box-shadow: none !important;
} */

/* disable auto-zoom on iphone input field focus */
@media screen and (-webkit-min-device-pixel-ratio:0) {

	/* select:focus,
	textarea:focus,
	input:focus {
        font-size: 35px !important;
        
    } */
    .inputBox:focus {
        font-size: 22px !important;
    }
}


@media only screen and (max-width: 1200px) {
    .outer-alcohol-list-div {
        padding: 0 200px;
    }
}

@media only screen and (max-width: 1000px) {
    .outer-alcohol-list-div {
        padding: 0 90px;
    }
}



@media only screen and (max-width: 600px) {
    .outer-alcohol-list-div {
        padding: 0px;
    }

    .inputBox-Wrapper {
        width: 90%;
    }

    .inputBox-Wrapper {
        margin-top: 20px !important;
    }
    
    .searchbox-wrapper {
        width: 90%;
    }
    .searchbox-alcohol {
        width: 90% !important;
    }
}